.page {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1600px;
}

.header {
  background-image: url(/images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 30px 80px 40px 80px;
}
